/* Tùy chỉnh nội dung của popup */
.leaflet-popup-content {
  padding: 0;
  margin: 5px;
}

/* Tùy chỉnh nút đóng */
.leaflet-popup-close-button {
  color: #ff0000;
  font-weight: bold;
}

/* Tùy chỉnh phần mũi tên của popup */
.leaflet-popup-tip {
  background-color: #f9f9f9;
}

.titleVms {
  font-weight: 600;
}
